* {
    box-sizing: border-box;
}


.title{
  font-family: 'Major Mono Display', monospace;
  font-size: 3em;
  color: #8C1C13;
}

.mini-container{
  text-align: center;
  display: block;
}

.button{
  font-family: sans-serif;
  background-color: #E7D7C1;
  color: #8C1C13;
  padding: 10px;
  margin: auto 10px 30px 10px;
  font-size: 1.3em;
  border-radius: 500px;
  border: none;
}

.container{
  display: grid;
  margin: 0 auto;
  border: solid 5px #BF4342;
  width: 70vh;
  height: 70vh;
  grid-template-columns: repeat(16, minmax(auto, 1fr));
  grid-template-rows: repeat(16, minmax(1fr, auto));
}

.cell{
  border: solid 1px #BF4342;
  padding: 1px;
}
